.App {
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ContactInfo {
  font-size: 1em;
}
.App-body {
  color: white;
  font-size: calc(10px + 1vmin);
  margin-left: 1vw;
  padding-bottom: 1vw;
}

.Section {
  margin: 1vw;
  border-top: .3vw solid white;
}

.Section-title {
  text-align: center;
}

ul {
  margin-left: 1vw;
  margin-right: 1vw;
}

li {
  margin-left: 4vw;
}
.JPHPhoto {
  width: 80%;
  height: auto;
}


